<%@ Assembly Name="Helix, Version=1.0.0.0, Culture=neutral, PublicKeyToken=87bf7cdbee17a13e" %>
<%@ Master language="C#"  Inherits="Helix.InnerMasterPage"  %>

<%@ Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %> 
<%@ Register Tagprefix="Utilities" Namespace="Microsoft.SharePoint.Utilities" Assembly="Microsoft.SharePoint, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Import Namespace="Microsoft.SharePoint" %> 
<%@ Assembly Name="Microsoft.Web.CommandUI, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Import Namespace="Microsoft.SharePoint.ApplicationPages" %>
<%@ Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register Tagprefix="PublishingWebControls" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register TagPrefix="wssuc" TagName="Welcome" src="~/_controltemplates/Welcome.ascx" %>
<%@ Register TagPrefix="wssuc" TagName="MUISelector" src="~/_controltemplates/MUISelector.ascx" %>
<%@ Register TagPrefix="wssuc" TagName="DesignModeConsole" src="~/_controltemplates/DesignModeConsole.ascx" %>
<%@ Register TagPrefix="hlx" TagName="ShortNewsList" src="~/_controltemplates/ShortNewsList.ascx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="<%$Resources:wss,language_value%>" dir="<%$Resources:wss,multipages_direction_dir_value%>" runat="server" xmlns:o="urn:schemas-microsoft-com:office:office" __expr-val-dir="ltr">
<head runat="server">
	<meta http-equiv="X-UA-Compatible" content="IE=8"/>
	<meta name="GENERATOR" content="Microsoft SharePoint"/>
	<meta name="progid" content="SharePoint.WebPartPage.Document"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="Expires" content="0"/>
	<SharePoint:RobotsMetaTag runat="server"/>
	<title id="onetidTitle"><asp:ContentPlaceHolder id="PlaceHolderPageTitle" runat="server"/></title>
	<SharePoint:CssLink runat="server" Version="4"/>
	<SharePoint:Theme runat="server"/>
	<SharePoint:ULSClientConfig runat="server"/>
	<script type="text/javascript">
	var _fV4UI = true;
	</script>
	<SharePoint:ScriptLink language="javascript" name="core.js" OnDemand="true" runat="server"/>
	<SharePoint:CustomJSUrl runat="server"/>
	<SharePoint:SoapDiscoveryLink runat="server"/>
	<asp:ContentPlaceHolder id="PlaceHolderAdditionalPageHead" runat="server"/>
	<SharePoint:DelegateControl runat="server" ControlId="AdditionalPageHead" AllowMultipleControls="true"/>
	<SharePoint:SPShortcutIcon runat="server" IconUrl="/_layouts/images/favicon.ico"/>
	<asp:ContentPlaceHolder id="PlaceHolderBodyAreaClass" runat="server"/>
	<asp:ContentPlaceHolder id="PlaceHolderTitleAreaClass" runat="server"/>
	<SharePoint:SPPageManager runat="server"/>
	<SharePoint:SPHelpPageComponent Visible="false" runat="server"/>           
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="/_layouts/Helix/css/ie7.css" />
<![endif]-->

    <link rel="stylesheet" type="text/css" href="/_layouts/Helix/css/main.css" />
    <link href="/_layouts/Helix/css/menubar.css" rel="stylesheet" type="text/css" />
	<link rel="icon" type="image/x-icon" href="/_layouts/Helix/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="/_layouts/Helix/favicon.ico" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="Helix Consulting LLC" />
	<meta http-equiv="imagetoolbar" content="no" />
	<script type="text/javascript" src="/_layouts/Helix/js/jquery.js"></script>
	<script type="text/javascript" src="/_layouts/Helix/js/general.js"></script>
    <style type="text/css" >
       
       .s4-ca 
        {
        background:none !important; 
        }

	</style>

</head>
<body scroll="no" onload="if (typeof(_spBodyOnLoadWrapper) != 'undefined') _spBodyOnLoadWrapper();">
  <form runat="server" onsubmit="if (typeof(_spFormOnSubmitWrapper) != 'undefined') {return _spFormOnSubmitWrapper();} else {return true;}">
 
  <asp:ScriptManager id="ScriptManager" runat="server" EnablePageMethods="false" EnablePartialRendering="true" EnableScriptGlobalization="false" EnableScriptLocalization="true" />
	<WebPartPages:SPWebPartManager id="m" runat="Server"/>
<SharePoint:SPNoScript runat="server"/>
<div id="TurnOnAccessibility" style="display:none" class="s4-notdlg noindex">
	<a id="linkTurnOnAcc" href="#" class="ms-TurnOnAcc" onclick="SetIsAccessibilityFeatureEnabled(true);UpdateAccessibilityUI();document.getElementById('linkTurnOffAcc').focus();return false;">
	<SharePoint:EncodedLiteral runat="server" text="<%$Resources:wss,master_turnonaccessibility%>" EncodeMethod="HtmlEncode"/></a>
</div>
<div id="TurnOffAccessibility" style="display:none" class="s4-notdlg noindex">
	<a id="linkTurnOffAcc" href="#" class="ms-TurnOffAcc" onclick="SetIsAccessibilityFeatureEnabled(false);UpdateAccessibilityUI();document.getElementById('linkTurnOnAcc').focus();return false;">
	<SharePoint:EncodedLiteral runat="server" text="<%$Resources:wss,master_turnoffaccessibility%>" EncodeMethod="HtmlEncode"/></a>
</div>
<div class="s4-notdlg s4-skipribbonshortcut noindex">
	<a href="javascript:;" onclick="javascript:this.href='#startNavigation';" class="ms-SkiptoNavigation" accesskey="<%$Resources:wss,skipribbon_accesskey%>" runat="server">
	<SharePoint:EncodedLiteral runat="server" text="<%$Resources:wss,skipRibbonCommandsLink%>" EncodeMethod="HtmlEncode"/></a>
</div>
<div class="s4-notdlg noindex">
	<a href="javascript:;" onclick="javascript:this.href='#mainContent';" class="ms-SkiptoMainContent" accesskey="<%$Resources:wss,maincontent_accesskey%>" runat="server">
	<SharePoint:EncodedLiteral runat="server" text="<%$Resources:wss,mainContentLink%>" EncodeMethod="HtmlEncode"/></a>
</div>
<a id="HiddenAnchor" href="javascript:;" style="display:none;"></a>
<SharePoint:DelegateControl runat="server" ControlId="GlobalNavigation"/>

testtesttesttesttesttest
<div id="s4-ribbonrow" class="s4-pr s4-ribbonrowhidetitle"  style="display:none;">

	<div id="s4-ribboncont">
		<SharePoint:SPRibbon
			runat="server"
			PlaceholderElementId="RibbonContainer"
			CssFile="">
			<SharePoint:SPRibbonPeripheralContent
				runat="server"
				Location="TabRowLeft"
				CssClass="ms-siteactionscontainer s4-notdlg">
					   <span class="ms-siteactionsmenu" id="siteactiontd">
                      
					   <SharePoint:SiteActions runat="server" accesskey="<%$Resources:wss,tb_SiteActions_AK%>" id="SiteActionsMenuMain"
						PrefixHtml=""
						SuffixHtml=""
						MenuNotVisibleHtml="&amp;nbsp;"
						>
						<CustomTemplate>
						<SharePoint:FeatureMenuTemplate runat="server"
							FeatureScope="Site"
							Location="Microsoft.SharePoint.StandardMenu"
							GroupId="SiteActions"
							UseShortId="true"
							>
							<SharePoint:MenuItemTemplate runat="server" id="MenuItem_EditPage"
								Text="<%$Resources:wss,siteactions_editpage%>"
								Description="<%$Resources:wss,siteactions_editpagedescriptionv4%>"
								ImageUrl="/_layouts/images/ActionsEditPage.png"
								MenuGroupId="100"
								Sequence="110"
								ClientOnClickNavigateUrl="javascript:ChangeLayoutMode(false);"
								/>
							<SharePoint:MenuItemTemplate runat="server" id="MenuItem_TakeOffline"
								Text="<%$Resources:wss,siteactions_takeoffline%>"
								Description="<%$Resources:wss,siteactions_takeofflinedescription%>"
								ImageUrl="/_layouts/images/connecttospworkspace32.png"
								MenuGroupId="100"
								Sequence="120"
                                PermissionsString="ManagePermissions,ManageWeb,ManageSubwebs,AddListItems, EditListItems"
								PermissionMode="All" />
								
							<SharePoint:MenuItemTemplate runat="server" id="MenuItem_CreatePage"
								Text="<%$Resources:wss,siteactions_createpage%>"
								Description="<%$Resources:wss,siteactions_createpagedesc%>"
								ImageUrl="/_layouts/images/NewContentPageHH.png"
								MenuGroupId="200"
								Sequence="210"
								UseShortId="true"
								ClientOnClickScriptContainingPrefixedUrl="if (LaunchCreateHandler('Page')) { OpenCreateWebPageDialog('~site/_layouts/createwebpage.aspx') }"
								PermissionsString="ManagePermissions,ManageWeb,ManageSubwebs,AddListItems, EditListItems"
								PermissionMode="All" />

                                <SharePoint:MenuItemTemplate runat="server" id="MenuItem_CreatePublishingPage"
								Text="New Publishing Page"
								Description="Create a publishing page in this site."
								ImageUrl="/_layouts/images/NewContentPageHH.png"
								MenuGroupId="200"
								Sequence="215"
								UseShortId="true"
								ClientOnClickNavigateUrl="~site/_layouts/CreatePage.aspx"
								PermissionsString="AddAndCustomizePages"
								PermissionMode="Any" />
                                
                             <SharePoint:MenuItemTemplate runat="server" id="MenuItem_CreateSurvey"
								Text="New Survey"
								Description="Create a survey in this site."
								ImageUrl="/_layouts/images/NewContentPageHH.png"
								MenuGroupId="200"
								Sequence="215"
								UseShortId="true"
								ClientOnClickNavigateUrl="~site/_layouts/new.aspx?FeatureId={00bfea71-eb8a-40b1-80c7-506be7590102}&ListTemplate=102"
								PermissionsString="ManageLists"
								PermissionMode="Any" />

							<SharePoint:MenuItemTemplate runat="server" id="MenuItem_CreateDocLib"
								Text="<%$Resources:wss,siteactions_createdoclib%>"
								Description="<%$Resources:wss,siteactions_createdoclibdesc%>"
								ImageUrl="/_layouts/images/NewDocLibHH.png"
								MenuGroupId="200"
								Sequence="220"
								UseShortId="true"
								ClientOnClickScriptContainingPrefixedUrl="if (LaunchCreateHandler('DocLib')) { GoToPage('~site/_layouts/new.aspx?FeatureId={00bfea71-e717-4e80-aa17-d0c71b360101}&amp;ListTemplate=101') }"
								PermissionsString="ManagePermissions,ManageWeb,ManageSubwebs"
								PermissionMode="All"
								VisibilityFeatureId="00BFEA71-E717-4E80-AA17-D0C71B360101" />
							<SharePoint:MenuItemTemplate runat="server" id="MenuItem_CreateSite"
								Text="<%$Resources:wss,siteactions_createsite%>"
								Description="<%$Resources:wss,siteactions_createsitedesc%>"
								ImageUrl="/_layouts/images/newweb32.png"
								MenuGroupId="200"
								Sequence="230"
								UseShortId="true"
								ClientOnClickScriptContainingPrefixedUrl="if (LaunchCreateHandler('Site')) { STSNavigate('~site/_layouts/newsbweb.aspx') }"
								PermissionsString="ManagePermissions,ManageSubwebs"
								PermissionMode="All" />
							<SharePoint:MenuItemTemplate runat="server" id="MenuItem_Create"
								Text="<%$Resources:wss,siteactions_create%>"
								Description="<%$Resources:wss,siteactions_createdesc%>"
								MenuGroupId="200"
								Sequence="240"
								UseShortId="true"
								ClientOnClickScriptContainingPrefixedUrl="if (LaunchCreateHandler('All')) { STSNavigate('~site/_layouts/create.aspx') }"
								PermissionsString="ManageLists, ManageSubwebs"
								PermissionMode="Any" />
							<SharePoint:MenuItemTemplate runat="server" id="MenuItem_ViewAllSiteContents"
								Text="<%$Resources:wss,quiklnch_allcontent%>"
								Description="<%$Resources:wss,siteactions_allcontentdescription%>"
								ImageUrl="/_layouts/images/allcontent32.png"
								MenuGroupId="300"
								Sequence="302"
								UseShortId="true"
								ClientOnClickNavigateUrl="~site/_layouts/viewlsts.aspx"
								PermissionsString="EnumeratePermissions"
								PermissionMode="Any" />
							 <SharePoint:MenuItemTemplate runat="server" id="MenuItem_EditSite"
								Text="<%$Resources:wss,siteactions_editsite%>"
								Description="<%$Resources:wss,siteactions_editsitedescription%>"
								ImageUrl="/_layouts/images/SharePointDesigner32.png"
								MenuGroupId="300"
								Sequence="304"
								UseShortId="true"
								ClientOnClickScriptContainingPrefixedUrl="EditInSPD('~site/',true);"
								PermissionsString="EnumeratePermissions"
								PermissionMode="Any"
							/>
							<SharePoint:MenuItemTemplate runat="server" id="MenuItem_SitePermissions"
								Text="<%$Resources:wss,people_sitepermissions%>"
								Description="<%$Resources:wss,siteactions_sitepermissiondescriptionv4%>"
								ImageUrl="/_layouts/images/Permissions32.png"
								MenuGroupId="300"
								Sequence="310"
								UseShortId="true"
								ClientOnClickNavigateUrl="~site/_layouts/user.aspx"
								PermissionsString="EnumeratePermissions"
								PermissionMode="Any" />
							<SharePoint:MenuItemTemplate runat="server" id="MenuItem_Settings"
								Text="<%$Resources:wss,settings_pagetitle%>"
								Description="<%$Resources:wss,siteactions_sitesettingsdescriptionv4%>"
								ImageUrl="/_layouts/images/settingsIcon.png"
								MenuGroupId="300"
								Sequence="320"
								UseShortId="true"
								ClientOnClickNavigateUrl="~site/_layouts/settings.aspx"
								PermissionsString="EnumeratePermissions,ManageWeb,ManageSubwebs,AddAndCustomizePages,ManageAlerts,ManageLists"
								PermissionMode="Any" />

                                <SharePoint:MenuItemTemplate runat="server" id="MenuItem_HRSettings"
								Text="HR Settings"
								Description="Access HR settings for this site."
								ImageUrl="/_layouts/images/settingsIcon.png"
								MenuGroupId="300"
								Sequence="325"
								UseShortId="true"
								ClientOnClickNavigateUrl="~site/_layouts/helix/hrsettings.aspx"
								PermissionsString="EditMyUserInfo"
								PermissionMode="All" />

							<SharePoint:MenuItemTemplate runat="server" id="MenuItem_CommitNewUI"
								Text="<%$Resources:wss,siteactions_commitnewui%>"
								Description="<%$Resources:wss,siteactions_commitnewuidescription%>"
								ImageUrl="/_layouts/images/visualupgradehh.png"
								MenuGroupId="300"
								Sequence="330"
								UseShortId="true"
								ClientOnClickScriptContainingPrefixedUrl="GoToPage('~site/_layouts/prjsetng.aspx')"
								PermissionsString="ManageWeb"
								PermissionMode="Any"
								ShowOnlyIfUIVersionConfigurationEnabled="true" />
							
						</SharePoint:FeatureMenuTemplate>
						</CustomTemplate>
					  </SharePoint:SiteActions></span>
				<asp:ContentPlaceHolder id="PlaceHolderGlobalNavigation" runat="server">
						<SharePoint:PopoutMenu
							runat="server"
							ID="GlobalBreadCrumbNavPopout"
							IconUrl="/_layouts/images/fgimg.png"
							IconAlt="<%$Resources:wss,master_breadcrumbIconAlt%>"
							IconOffsetX=0
							IconOffsetY=112
							IconWidth=16
							IconHeight=16
							AnchorCss="s4-breadcrumb-anchor"
							AnchorOpenCss="s4-breadcrumb-anchor-open"
							MenuCss="s4-breadcrumb-menu">
							<div class="s4-breadcrumb-top">
								<asp:Label runat="server" CssClass="s4-breadcrumb-header" Text="<%$Resources:wss,master_breadcrumbHeader%>" />
							</div>
							<asp:ContentPlaceHolder id="PlaceHolderTitleBreadcrumb" runat="server">
								<SharePoint:ListSiteMapPath
									runat="server"
									SiteMapProviders="SPSiteMapProvider,SPContentMapProvider"
									RenderCurrentNodeAsLink="false"
									PathSeparator=""
									CssClass="s4-breadcrumb"
									NodeStyle-CssClass="s4-breadcrumbNode"
									CurrentNodeStyle-CssClass="s4-breadcrumbCurrentNode"
									RootNodeStyle-CssClass="s4-breadcrumbRootNode"
									NodeImageOffsetX=0
									NodeImageOffsetY=353
									NodeImageWidth=16
									NodeImageHeight=16
									NodeImageUrl="/_layouts/images/fgimg.png"
									RTLNodeImageOffsetX=0
									RTLNodeImageOffsetY=376
									RTLNodeImageWidth=16
									RTLNodeImageHeight=16
									RTLNodeImageUrl="/_layouts/images/fgimg.png"
									HideInteriorRootNodes="true"
									SkipLinkText="" />
								</asp:ContentPlaceHolder>
						</SharePoint:PopoutMenu>
						<div class="s4-die">
							<asp:ContentPlaceHolder id="PlaceHolderGlobalNavigationSiteMap" runat="server" Visible="false">
							</asp:ContentPlaceHolder>
						</div>
				</asp:ContentPlaceHolder>
				<SharePoint:PageStateActionButton id="PageStateActionButton" runat="server" Visible="false" />
			</SharePoint:SPRibbonPeripheralContent>
			<SharePoint:SPRibbonPeripheralContent
				runat="server"
				Location="TabRowRight"
				ID="RibbonTabRowRight"
				CssClass="s4-trc-container s4-notdlg">
	<SharePoint:DelegateControl runat="server" ID="GlobalDelegate0" ControlId="GlobalSiteLink0" />
	 
	<SharePoint:DelegateControl ControlId="GlobalSiteLink2" ID="GlobalDelegate2" Scope="Farm" runat="server" />
	<span>
		<span class="s4-devdashboard">
			<Sharepoint:DeveloperDashboardLauncher
				ID="DeveloperDashboardLauncher"
				NavigateUrl="javascript:ToggleDeveloperDashboard()"
				runat="server"
				ImageUrl="/_layouts/images/fgimg.png"
				Text="<%$Resources:wss,multipages_launchdevdashalt_text%>"
				OffsetX=0
				OffsetY=222
				Height=16
				Width=16 />
		</span>
	</span>
			</SharePoint:SPRibbonPeripheralContent>
		</SharePoint:SPRibbon>
	</div>
	<div id="notificationArea" class="s4-noti">
	</div>
	<asp:ContentPlaceHolder ID="SPNavigation" runat="server">
			<SharePoint:DelegateControl runat="server" ControlId="PublishingConsole" Id="PublishingConsoleDelegate">
		   </SharePoint:DelegateControl>
	</asp:ContentPlaceHolder>
	<div id="WebPartAdderUpdatePanelContainer">
		<asp:UpdatePanel
			ID="WebPartAdderUpdatePanel"
			UpdateMode="Conditional"
			ChildrenAsTriggers="false"
			runat="server">
			<ContentTemplate>
				<WebPartPages:WebPartAdder ID="WebPartAdder" runat="server" />
			</ContentTemplate>
			<Triggers>
				<asp:PostBackTrigger ControlID="WebPartAdder" />
			</Triggers>
		</asp:UpdatePanel>
	</div>
</div>


<Sharepoint:SPSecurityTrimmedControl runat="server" PermissionMode="Any"  PermissionsString="AddAndCustomizePages,EditMyUserInfo">
<script type="text/javascript"> 
        document.getElementById("s4-ribbonrow").style.display = "block"; 
    </script> 

</SharePoint:SPSecurityTrimmedControl>



<div id="s4-workspace">



<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>
            <td valign="top" >
					
		<div id="s4-bodyContainer">
			<div id="s4-titlerow" class="s4-pr s4-notdlg s4-titlerowhidetitle">
				<div class="s4-lp" id="header" >
					  <div class="s4-title-inner">
						<table class="s4-titletable" cellspacing="0">							
								<tr>
									<td class="helix-titlelogo">
										<SharePoint:SPLinkButton runat="server" NavigateUrl="/" id="onetidProjectPropertyTitleGraphic">
											<div id="logo"></div>
										</SharePoint:SPLinkButton>
									</td>
									<td class="helix-titletext">
									<!--	<h1>
											<asp:ContentPlaceHolder id="PlaceHolderSiteName" runat="server">
												<SharePoint:SPLinkButton runat="server" NavigateUrl="~site/" __designer:Preview="&lt;a href=&quot;/&quot;&gt;intranet&lt;/a&gt;" __designer:Values="&lt;P N='NavigateUrl' T='~site/' /&gt;&lt;P N='PermissionsString' T='EmptyMask' /&gt;&lt;P N='ID' T='ctl26' /&gt;&lt;P N='Page' ID='1' /&gt;&lt;P N='TemplateControl' ID='2' /&gt;&lt;P N='AppRelativeTemplateSourceDirectory' R='-1' /&gt;">intranet</SharePoint:SPLinkButton>
											</asp:ContentPlaceHolder>
										</h1> -->  <div class="int_title"><p>ինտրանետ</p></div>

										<span style="display:none" >
										<h2>
											<asp:ContentPlaceHolder id="PlaceHolderPageTitleInTitleArea" runat="server" />
										</h2>
										<div class="s4-pagedescription" tabindex="0" >
											<asp:ContentPlaceHolder id="PlaceHolderPageDescription" runat="server"/>
										</div>
                                        </span>
									</td>
                                    <td>
                                    
                                    <a href="#" tabindex="-1" style="display:none"></a><a href="#" tabindex="-1" style="display:none"></a>
	                                 <div class="s4-trc-container-menu">
		                                 <div>
			                                <wssuc:Welcome id="IdWelcome" runat="server" EnableViewState="false">
			                                </wssuc:Welcome>
			                                <wssuc:MUISelector ID="IdMuiSelector" runat="server"/>
		                                </div>
	                                </div>
                                    </td>
									<td class="s4-socialdata-notif" style="display:none" >
										<SharePoint:DelegateControl ControlId="GlobalSiteLink3" Scope="Farm" runat="server"/>
									</td>
								</tr>
							
						</table>
					</div>
                  
                   <div class="clear-both"></div>
				</div>

                
				<div id="s4-topheader2" class="s4-pr s4-notdlg">
					<a name="startNavigation"></a>
					<div id="s4-searcharea" class="s4-search s4-rp">
						<asp:ContentPlaceHolder id="PlaceHolderSearchArea" runat="server">
							<SharePoint:DelegateControl runat="server" ControlId="SmallSearchInputBox" Version="4"/>
						</asp:ContentPlaceHolder>
						<span class="s4-help">
								<span style="height:17px;width:17px;position:relative;display:inline-block;overflow:hidden;" class="s4-clust"><a href="#" style="height:17px;width:17px;display:inline-block;" onclick="TopHelpButtonClick('HelpHome');return false" accesskey="<%$Resources:wss,multipages_helplink_accesskey%>" id="TopHelpLink" title="<%$Resources:wss,multipages_helplinkalt_text%>" runat="server"><img src="/_layouts/images/fgimg.png" alt="<%$Resources:wss,multipages_helplinkalt_text%>" style="left:-0px !important;top:-309px !important;position:absolute;" align="absmiddle" border="0" runat="server" /></a></span>
						</span>
					</div>
					
					<div class="s4-lp s4-toplinks">
						<asp:ContentPlaceHolder id="PlaceHolderTopNavBar" runat="server">
								<asp:ContentPlaceHolder id="PlaceHolderHorizontalNav" runat="server">
<SharePoint:AspMenu
	  ID="TopNavigationMenuV4"
	  Runat="server"
	  EnableViewState="false"
	  DataSourceID="topSiteMap"
	  AccessKey="<%$Resources:wss,navigation_accesskey%>"
	  UseSimpleRendering="true"
	  UseSeparateCss="false"
	  Orientation="Horizontal"
	  StaticDisplayLevels="2"
	  MaximumDynamicDisplayLevels="1"
	  SkipLinkText=""
	  CssClass="s4-tn"/>
	<SharePoint:DelegateControl runat="server" ControlId="TopNavigationDataSource" Id="topNavigationDelegate">
		<Template_Controls>
			<asp:SiteMapDataSource
			  ShowStartingNode="False"
			  SiteMapProvider="SPNavigationProvider"
			  id="topSiteMap"
			  runat="server"
			  StartingNodeUrl="sid:1002"/>
		</Template_Controls>
	</SharePoint:DelegateControl>
	<style>
.s4-tn li.static > a{ 
display: none !important; 
} 
.s4-tn li.static > ul a{ 
display: block !important; 
}



	</style>

								</asp:ContentPlaceHolder>
						</asp:ContentPlaceHolder>
					</div>
				</div>
			</div>
			<div id="s4-statusbarcontainer">
				<div id="pageStatusBar" class="s4-status-s1">
				</div>
			</div>
				<SharePoint:VisualUpgradePreviewStatus runat="server"/>
							
			<div id="s4-mainarea" class="s4-pr s4-widecontentarea">
                    
				<div class="s4-ca s4-ca-dlgNoRibbon" style="margin:0px"  id="MSO_ContentTable">				                
                	<SharePoint:VersionedPlaceHolder UIVersion="3" ID="DesignModeConsoleV3" runat="server">
						<asp:ContentPlaceHolder id="WSSDesignConsole" runat="server">
							<wssuc:DesignModeConsole id="IdDesignModeConsole" runat="server" />
						</asp:ContentPlaceHolder>
					</SharePoint:VersionedPlaceHolder>
						<div class='s4-ba'><div class='ms-bodyareacell'>
										<div id="content">
				<div id="path">
			<span> </span>
		</div>	     </div>
							<div id="MSO_ContentDiv" runat="server">

                                <table  border="0" cellpadding="0" cellspacing="0" width="100%" >
				                    <tr>
				                        <td valign="top" id="inner-col1">                                        			        
					                        <a name="mainContent"></a>
						                    <asp:ContentPlaceHolder id="PlaceHolderMain" runat="server">
						                    </asp:ContentPlaceHolder>			        
					                        
				                        </td>

				                    </tr>
			                    </table>
						        
							</div>
						</div></div>			
				</div>
			</div>
			<SharePoint:DeveloperDashboard runat="server"/>
		</div>
      

  <asp:ContentPlaceHolder id="PlaceHolderFormDigest" runat="server">
		<SharePoint:FormDigest runat="server"/>
  </asp:ContentPlaceHolder>
   <input type="text" name="__spText1" title="text" style="display:none;" />
   <input type="text" name="__spText2" title="text" style="display:none;" />		  
			</td>
		</tr>					
   		<tr class="s4-notdlg">
            <td id="footer" >
				 <div id="f1"> 	&copy;  2016 Ucom LLC, All Rights Reserved </div>
			</td>
		</tr>					

</table>

  
</div>

  </form>
  
 <!--  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64107456-1', 'auto');
  ga('send', 'pageview');

</script> -->
  
  <asp:ContentPlaceHolder id="PlaceHolderUtilityContent" runat="server"/>
	<SharePoint:WarnOnUnsupportedBrowsers runat="server"/>

</body>
</html>
